-- 1. Buat Tabel Migrasi Prisma
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           TIMESTAMPTZ,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        TIMESTAMPTZ,
    "started_at"            TIMESTAMPTZ NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER NOT NULL DEFAULT 0
);

-- 2. Input Data Migrasi
INSERT INTO "_prisma_migrations" VALUES (
    '920e6f1f-8ba6-43e6-aaa3-b59aea9c3cbb',
    '9b0c82f6c5a50942f0b62751fdc86b7e2d6aa4489ebee3efefb285c1a0c12c9a',
    NOW(),
    '20260324043817_init',
    NULL,
    NULL,
    NOW(),
    1
);

-- 3. Buat Tabel User (Format PostgreSQL)
CREATE TABLE IF NOT EXISTS "User" (
    "id" SERIAL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "name" TEXT
);

-- 4. Masukkan Data User
INSERT INTO "User" ("email", "name") VALUES 
('leo@example.com', 'Leo Tobing'),
('john@example.com', 'John Doe'),
('jane@example.com', 'Jane Smith');

-- 5. Buat Index Unik untuk Email
CREATE UNIQUE INDEX IF NOT EXISTS "User_email_key" ON "User"("email");